<tr>
  <td>
		<%= link_to category do %>
    <h4><%= category.name %></h4>
		<% end %> 
  </td>
  <td style="vertical-align: middle;">
    <%= category.created_at %>
  </td>
	<!-- how to add class/style into template: -->
  <td style="vertical-align: middle;">
    <%= category.updated_at %>
  </td>
</tr>