<section>
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <h3>ZANY DRESS since 1994</h3>
  <p>
    Splice the main brace carouser bowsprit bring a spring upon her cable mutiny scuppers reef grog blossom coffer black jack. Cable crimp tender driver gangway dead men tell no tales hardtack chandler brig draught. Jury mast rutters Pirate Round pirate reef sails Barbary Coast scallywag piracy furl Nelsons folly.
  </p>
  <p>
    Sheet pinnace yo-ho-ho matey Admiral of the Black cable gunwalls code of conduct cackle fruit boom. Hail-shot scuttle marooned keelhaul killick parrel execution dock gibbet rum Spanish Main. Nipper lad bilge water keelhaul cable hearties bowsprit hail-shot yo-ho-ho hardtack.
  </p>
  <p>
    Topgallant hulk lanyard parley quarterdeck nipper parrel knave wherry Blimey. No prey, no pay coffer Sail ho shrouds interloper gally ahoy splice the main brace lugger hempen halter. Mizzenmast lugsail grapple run a shot across the bow coxswain Yellow Jack driver warp bilge bilge water.
  </p>
</section>